<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9Avd8J-bOY9JpbKMvKOiMwx-JUUBCMUM</string>
	<key>GCM_SENDER_ID</key>
	<string>49615774093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joedev.pulseone</string>
	<key>PROJECT_ID</key>
	<string>pulseone-dh</string>
	<key>STORAGE_BUCKET</key>
	<string>pulseone-dh.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49615774093:ios:b559b4b869c455109f5dc4</string>
</dict>
</plist>